/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца  
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку    
✦ card__icon-button — для кнопки, оборачивающей иконку (надо ли этот class добавлять в footer)
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки 

*/

/* Общие стили для страницы */

.page {
  font-family: var(--main-text-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  font-variation-settings: "wght" var(--font-weight-inter);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  /* width: 100%;
  height: 960px; */
  background-color: #ffffff;
  background-image: var(--background-image-pattern);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Стили для заголовка */

.header {
  width: 100%;
  padding-top: 100px;
}

.logo {
  margin: 0 auto;
  width: clamp(375px, 100% - 740px, 1440px);
  min-height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: white;
}

.logo__title {
  font-family: var(--accent-text-font), monospace;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-variation-settings: "wght" var(--font-weight-normal);
  color: var(--main-text-color);
  line-height: 100%;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.text__content {
  font-family: var(--accent-text-font), monospace;
  font-size: clamp(1.4375rem, 1.6356rem + -0.8451vw, 0.875rem);
  font-variation-settings: "wght" var(--font-weight-normal);
  color: var(--main-text-color);
  line-height: 100%;
  text-transform: uppercase;
}

/* Стили для секций */
.section {
  margin: 0 auto;
  width: clamp(375px, calc(100% - 740px), 100%);
  border: 2px solid black;
  background-color: var(--stroke-color);
}

.section:first-of-type {
  margin-block-start: 100px;
}

.section:not(:first-of-type) {
  margin-block-start: 50px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.section__title:nth-of-type(1) {
  background-color: #fff;
}

.section__title {
  font-family: var(--main-text-font), sans-serif;
  font-size: var(--main-text-size);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: var(--main-text-color);
  line-height: normal;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  padding: 5px 24px 5px 10px;
}

.subtitle {
  position: absolute;
  top: 56px;
  right: 25px;
  font-family: var(--accent-text-font), monospace;
  font-size: var(--additional-font-size);
  font-weight: var(--font-weight-normal);
  color: var(--main-text-color);
  opacity: 0.5;
  line-height: 100%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), -1px -1px 0 var(--stroke-color);
  z-index: 1;
}

.section:nth-of-type(n + 4):nth-of-type(-n + 8) .subtitle {
  text-transform: lowercase;
}

.section__wrap {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.image-wrap {
  border-bottom: 2px solid black;
  overflow: hidden;
}

.section__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.description {
  font-family: var(--main-text-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--font-weight-normal);
  color: var(--main-text-color);
  line-height: 21px;
}

/* Стили для кнопок */

.card__buttons {
  margin-block-start: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

/* .card__icon-button {
  align-self: center;
} */

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 1);
  transition: outline 0.3s ease;
}

.button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: var(--accent-text-font), monospace;
  font-size: var(--additional-font-size);
  font-variation-settings: "wght" var(--font-weight-normal);
  line-height: 90%;
  background: var(--stroke-color);
  cursor: pointer;
  appearance: none;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  transform: translateX(-100%) scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0) scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 7px 17px;
}

.button__text,
.footer__icon {
  mix-blend-mode: difference;
  color: var(--stroke-color);
}

.footer-button {
  margin: 0 auto;
  padding-block-start: 50px;
  padding-block-end: 103px;
  width: clamp(335px, 100% - 1110px, 1440px);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  padding: 15px 21px 15px 19px;
}

.footer__icon {
  block-size: 21px;
  inline-size: 21px;
}

.dialog {
  margin: 384.5px auto;
  width: clamp(375px, 353px, 100%);
  padding: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: rgb(0 0 0);
}

.dialog__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-text-font), monospace;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-variation-settings: "wght" var(--font-weight-inter);
  color: var(--main-text-color);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  margin-block-start: 30px;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 12.5px 132.5px;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

/* Стили для эффектов */

.black-and-white {
  filter: grayscale(80%);
}

.neon-effect {
  filter: brightness(1) contrast(1) saturate(4);
}

.bright-purple {
  filter: brightness(80%) contrast(100%) saturate(120%) hue-rotate(30deg);
}

.green-blue-effect {
  filter: hue-rotate(30deg) saturate(2) brightness(70%) sepia(20%) contrast(1)
    invert(85%);
}

.beige-gray-tones {
  filter: brightness(115%) contrast(90%) saturate(50%) hue-rotate(10deg)
    grayscale(85%) sepia(80%);
}

.blur-effect {
  -webkit-filter: blur(1rem);
  filter: blur(1rem);
}

.brown-green-tones {
  filter: hue-rotate(135deg) saturate(2) contrast(60%) brightness(100%)
    blur(2px);
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .subtitle {
    -webkit-text-stroke: 1px var(--stroke-color);
    -webkit-text-fill-color: rgb(0, 0, 0);
  }
}

.no-webkit-text-stroke .subtitle {
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  /* .footer-button {
    width: clamp(335px, 100% - 70px, 1440px);
  } */
}
