/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-text-font: "Inter";
    --accent-text-font: "PressStart 2P";
    --main-font-size: 18px;
    --additional-font-size: 14px;
    --main-text-color: rgba(0, 0, 0, 1);
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --stroke-color: rgb(255, 255, 255);
    --font-weight-inter: 400; 
    --font-weight-title: 700; 
}